<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/style/style.css")">
    <title>RaveUp Site</title>
</head>
<body>
    <header class="">
        <div class="container top-header">
            <div class="left-side">
                @if (User.Identity.IsAuthenticated)
                {
                    <p>Здравствуйте, @(User.Identity.Name)<a asp-controller="Account" asp-action="Logout" class="btn">Выйти</a></p>
                    
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" class="btn">Войти</a>
                }
            </div>
            <div class="right-side">
                <a href="email:" class="btn email-link"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@rave-up.ru</a>
                <a href="tel:" class="btn phone-link"><i class="fa fa-phone" aria-hidden="true"></i> +7 800 555 35 35</a>
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="container-f luid">
                            <a class="navbar-brand" href="#">
                                <img alt="Brand" class="height-img-responsive" src="http://via.placeholder.com/350x150/212121">
                            </a>
                        </div>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a asp-controller="Main" asp-action="Main">ГЛАВНАЯ<span class="sr-only">(current)</span></a></li>
                            <li class="dropdown">
                                <a a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >КАТАЛОГ<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a asp-controller="Item" asp-action="List">Показать</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-controller="Admin" asp-action="Items">Админ каталог</a></li>

                                    }
                                
                                    @*<li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>*@
                                </ul>
                            </li>
                            <li><a href="#">СТАТЬИ</a></li>
                            <li><a asp-controller="AboutUs" asp-action="About">О НАС</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
        <!-- <div class="slider">
            <div class="slider-img-box">
                <div class="slider-blur">
                        <h1>ЛУЧШИЕ УСЛОВИЯ ДЛЯ АРЕНДЫ</h1></div>
            </div>
        </div> -->
    </header>

    @RenderBody()

    <footer class="margin">
        <div class="container-fluid footer_1">
            <div class="container">
                <div class="col-sm-4 hidden-xs">
                    <ul class="footer_1-ul_1">
                        <li><a href="tel:+79872753617">+7 (987) 275-36-17&nbsp;<i class="fas fa-mobile-alt"></i></a></li>
                        <li><a href="whatsapp://+79872753617">+7 (987) 275-36-17&nbsp;<i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        <li><a href="mailto:info@romardi.com">info@raveup.com&nbsp;<i class="fa fa-share" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 footer_main_img"><img src=@Url.Content("~/images/logo.png") class="footer_1-img img-responsive" alt="RAVE-UP"></div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                    <a href="kontaktyi" class="footer-contact-btn">Контакты</a>
                </div>
                <div class="col-sm-4 hidden-xs">
                    <ul class="footer_1-ul_2">
                        <li><a target="_blank" href="https://vk.com/kamgun"><i class="fab fa-vk" aria-hidden="true"></i>&nbsp;Вконтакте</a></li>
                        <li><a target="_blank" href="https://instagram.com/kam_fabls"><i class="fab fa-instagram" aria-hidden="true"></i>&nbsp;Инстаграм</a></li>
                        <li><a target="_blank" href="https://t.me/KamGun"><i class="fab fa-telegram" aria-hidden="true"></i>&nbsp;&nbsp;Telegram</a></li>
                        <li><a target="_blank" href="https://goo.gl/maps/LBt3TPXxhqR2"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Казань, ГАУ "IT-Park"</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid footer_2">
            <div class="panel-group hidden-sm hidden-md hidden-lg" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        <h4 class="panel-title">
                            <span>О компании</span>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="AboutUs/About"><i class="fa fa-chevron-right" aria-hidden="true"></i> О компании</a></li>
                                <li><a href="kontaktyi/blagotvoritelnost"><i class="fa fa-chevron-right" aria-hidden="true"></i> Для дизайнеров</a></li>
                                <li><a href="akczii"><i class="fa fa-chevron-right" aria-hidden="true"></i> Акции</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                        <h4 class="panel-title">
                            <span>Часто задаваемы вопросы</span>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="Item/List"><i class="fa fa-chevron-right" aria-hidden="true"></i> Каталог</a></li>
                                <li><a href="kontaktyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Напишите нам!</a></li>
                                <li><a href="sitemap.xml"><i class="fa fa-chevron-right" aria-hidden="true"></i> Карта сайта</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                        <h4 class="panel-title">
                            <span>Оплата и доставка</span>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="oplata"><i class="fa fa-chevron-right" aria-hidden="true"></i> Оплата</a></li>
                                <li><a href="zayavki-na-vozvrat-sredstv"><i class="fa fa-chevron-right" aria-hidden="true"></i> Заявка на возврат средств</a></li>
                                <li><a href="sertifikatyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Политика конфиденциальности</a></li>
                                <li><a href="novosti/"><i class="fa fa-chevron-right" aria-hidden="true"></i> Новости RAVE-UP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                        <h4 class="panel-title">
                            <span>Услуги и сервисы</span>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><a href="uslugi-i-servisyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Услуги и сервисы</a></li>
                                <li><a href="dlya-korporativnyix-klientov"><i class="fa fa-chevron-right" aria-hidden="true"></i> Как заказать?</a></li>
                                <li><a href="oprosyi-pokupatelej"><i class="fa fa-chevron-right" aria-hidden="true"></i> Опросы арендующих</a></li>
                                <li><a href="podarochnyie-kartyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Подарочные карты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 nav-foot-block hidden-xs">
                <ul>
                    <li><a href="AboutUs/About"><i class="fa fa-chevron-right" aria-hidden="true"></i> О компании</a></li>
                    <li><a href="kontaktyi/blagotvoritelnost"><i class="fa fa-chevron-right" aria-hidden="true"></i> Для дизайнеров</a></li>
                    <li><a href="akczii"><i class="fa fa-chevron-right" aria-hidden="true"></i> Акции</a></li>
                </ul>
            </div>
            <div class="col-sm-3 nav-foot-block hidden-xs">
                <ul>
                    <li><a href="Item/List"><i class="fa fa-chevron-right" aria-hidden="true"></i> Каталог</a></li>
                    <li><a href="kontaktyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Напишите нам!</a></li>
                    <li><a href="sitemap.xml"><i class="fa fa-chevron-right" aria-hidden="true"></i> Карта сайта</a></li>
                </ul>
            </div>
            <div class="col-sm-3 nav-foot-block hidden-xs">
                <ul>
                    <li><a href="oplata"><i class="fa fa-chevron-right" aria-hidden="true"></i> Оплата</a></li>
                    <li><a href="zayavki-na-vozvrat-sredstv"><i class="fa fa-chevron-right" aria-hidden="true"></i> Заявка на возврат средств</a></li>
                    <li><a href="sertifikatyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Политика конфиденциальности</a></li>
                    <li><a href="novosti/"><i class="fa fa-chevron-right" aria-hidden="true"></i> Новости RAVE-UP</a></li>
                </ul>
            </div>
            <div class="col-sm-3 nav-foot-block hidden-xs">
                <ul>
                    <li><a href="uslugi-i-servisyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Услуги и сервисы</a></li>
                    <li><a href="dlya-korporativnyix-klientov"><i class="fa fa-chevron-right" aria-hidden="true"></i> Как заказать?</a></li>
                    <li><a href="oprosyi-pokupatelej"><i class="fa fa-chevron-right" aria-hidden="true"></i> Опросы арендующих</a></li>
                    <li><a href="podarochnyie-kartyi"><i class="fa fa-chevron-right" aria-hidden="true"></i> Подарочные карты</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid footer_3">
            <div class="container">
                <div class="copyright col-xs-12 col-md-6">
                    <span>© 2013-<span id="this-year">2018</span> "ROMARDI-плетёная мебель из ротанга". Все права защищены</span>
                </div>
                <div class="prostudia col-xs-12 col-md-6">
                    <a href="http://prostudia.ru" target="_blank" class="footer_3-a"><img src="@Url.Content("~/images/Untitled.svg")" width="100" alt="ProStudia - разработка веб сайтов" title="ProStudia - веб студия по разработке веб приложений" class="img-responsive web_logo"></a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/script/script.js")"></script>
</body>
</html>
